<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="footer">
<div class="container-fluid top-footer">
    <div class="container content-top-footer">
        <div class="row">
            <div class="col-md-4">
                <h2>Bưu chính chuyển phát</h2>
                <ul>
                    <li>
                        <a href="/dich-vu/1">
                            <i class="fa fa-caret-right" style="font-size: 15px;"></i>
                            Bưu chính chuyển phát Trong nước
                        </a>
                    </li>
                    <li>
                        <a href="/404">
                            <i class="fa fa-caret-right" style="font-size: 15px;"></i>
                            Bưu chính chuyển phát Quốc tế
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4">
                <h2>Tài chính bưu chính</h2>
                <ul>
                    <li>
                        <a href="/chi-tiet-dich-vu/11">
                            <i class="fa fa-caret-right" style="font-size: 15px;"></i>
                            Bảo hiểm phi nhân thọ PTI
                        </a>
                    </li>
                    <li>
                        <a href="/chi-tiet-dich-vu/12">
                            <i class="fa fa-caret-right" style="font-size: 15px;"></i>
                            Thu hộ - chi hộ
                        </a>
                    </li>
                    <li>
                        <a href="/chi-tiet-dich-vu/13">
                            <i class="fa fa-caret-right" style="font-size: 15px;"></i>
                            Đại lý bảo hiểm nhân thọ (Dai-ichi)
                        </a>
                    </li>
                    <li>
                        <a href="/chi-tiet-dich-vu/21">
                            <i class="fa fa-caret-right" style="font-size: 15px;"></i>
                            Đại lý ngân hàng
                        </a>
                    </li>
                    <li>
                        <a href="/chi-tiet-dich-vu/22">
                            <i class="fa fa-caret-right" style="font-size: 15px;"></i>
                            Dịch vụ chuyển tiền trong nước
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4">
                <h2>Phân phối - Truyền thông</h2>
                <ul>
                    <li>
                        <a href="/chi-tiet-dich-vu/1">
                            <i class="fa fa-caret-right" style="font-size: 15px;"></i>
                            Sàn thương mại điện tử POSTMART
                        </a>
                    </li>
                    <li>
                        <a href="/chi-tiet-dich-vu/2">
                            <i class="fa fa-caret-right" style="font-size: 15px;"></i>
                            Truyền thông, quảng cáo
                        </a>
                    </li>
                    <li>
                        <a href="/chi-tiet-dich-vu/3">
                            <i class="fa fa-caret-right" style="font-size: 15px;"></i>
                            Phân phối xuất bản ấn phẩm
                        </a>
                    </li>
                    <li>
                        <a href="/chi-tiet-dich-vu/4">
                            <i class="fa fa-caret-right" style="font-size: 15px;"></i>
                            Dịch vụ viễn thông - CNTT
                        </a>
                    </li>
                    <li>
                        <a href="/chi-tiet-dich-vu/5">
                            <i class="fa fa-caret-right" style="font-size: 15px;"></i>
                            Dịch vụ phân phối hàng hóa
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<footer class="text-left text-md-center">
    <div class="container-fluid padding">
        <div class="row">
            <div class="col-md-6">
                <P style="font-size: 12px; margin-bottom: 0px;">
                    <strong>TỔNG CÔNG TY BƯU ĐIỆN VIỆT NAM - VIETNAM POST</strong><br>
                    Địa chỉ: Số 05 đường Phạm Hùng - Mỹ Đình 2 - Nam Từ Liêm - Hà Nội - Việt Nam<br>
                    Ghi rõ nguồn "www.vnpost.vn" khi phát hành lại thông tin từ website này
                </P>
            </div>

            <div class="col-md-6">
                <a href="/404">
                    <i class="fa fa-facebook" style="font-size: 20px;"></i>
                </a>
                <a href="/404">
                    <i class="fa fa-twitter" style="font-size: 20px;"></i>
                </a>
                <a href="/404">
                    <i class="fa fa-linkedin-square" style="font-size: 20px;"></i>
                </a>
                <a href="/404">
                    <i class="fa fa-rss" aria-hidden="true" style="font-size: 20px;"></i>
                </a>
            </div>
        </div>
    </div>
</footer>

</body>
</html>