<!DOCTYPE html>
<html lang="en">
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="menu">
<nav id="phan-thanh-doc" class="navbar  navbar-expand-sm navbar-light bg-light">
    <button id="cai-nut-ngang" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#thanh-doc">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="thanh-doc">
        <ul class="list-group">
            <li style="padding: 0px;">
                <p style="font-weight: bold; margin: 0px; padding: 5px; color: #FCB71E;">CHUYÊN MỤC</p>
                <hr>
                <hr>
            </li>
            <li>
                <i class="fa fa-angle-double-right"></i>
                <a href="/danh-sach-tin-tuc/the-loai/1?page=1&size=20">Tin Vietnam Post</a>
                <hr>
            </li>
            <li  style="padding-left: 20px;">
                <i class="fa fa-angle-right"></i>
                <a href="/danh-sach-tin-tuc/1?page=1&size=20">Hoạt động ngành</a>
                <hr>
            </li>
            <li  style="padding-left: 20px;">
                <i class="fa fa-angle-right"></i>
                <a href="/danh-sach-tin-tuc/2?page=1&size=20">Thương mại điện tử - Logistics</a>
                <hr>
            </li>
            <li  style="padding-left: 20px;">
                <i class="fa fa-angle-right"></i>
                <a href="/danh-sach-tin-tuc/3?page=1&size=20">Hành chính công</a>
                <hr>
            </li>
            <li  style="padding-left: 20px;"
                <i class="fa fa-angle-right"></i>
                <a href="/danh-sach-tin-tuc/4?page=1&size=20">Lương hưu - bảo trợ xã hội</a>
                <hr>
            </li>
            <li  style="padding-left: 20px;">
                <i class="fa fa-angle-right"></i>
                <a href="/danh-sach-tin-tuc/5?page=1&size=20">Điểm chi trả chế độ BHXH</a>
                <hr>
            </li>
            <li  style="padding-left: 20px;">
                <i class="fa fa-angle-right"></i>
                <a href="/danh-sach-tin-tuc/6?page=1&size=20">Bưu chính thế giới</a>
                <hr>
            </li>
            <li>
                <i class="fa fa-angle-double-right"></i>
                <a href="/danh-sach-tin-tuc/the-loai/2?page=1&size=20">Bưu điện - Văn hóa xã</a>
                <hr>
            </li>
            <li>
                <i class="fa fa-angle-double-right"></i>
                <a href="/danh-sach-tin-tuc/the-loai/3?page=1&size=20">Người bưu điện</a>
                <hr>
            </li>
            <li  style="padding-left: 20px;">
                <i class="fa fa-angle-right"></i>
                <a href="/danh-sach-tin-tuc/8?page=1&size=20">Gương điển hình</a>
                <hr>
            </li>
            <li  style="padding-left: 20px;">
                <i class="fa fa-angle-right"></i>
                <a href="/danh-sach-tin-tuc/9?page=1&size=20">Hoạt động cộng đồng</a>
                <hr>
            </li>
            <li  style="padding-left: 20px;">
                <i class="fa fa-angle-right"></i>
                <a href="/danh-sach-tin-tuc/10?page=1&size=20">Viết thư UPU</a>
                <hr>
            </li>
            <li  style="padding-left: 20px;">
                <i class="fa fa-angle-right"></i>
                <a href="/danh-sach-tin-tuc/11?page=1&size=20">Tìm hiểu Tem Bưu chính</a>
                <hr>
            </li>
            <li>
                <i class="fa fa-angle-double-right"></i>
                <a href="/danh-sach-tin-tuc/the-loai/4?page=1&size=20">Hoạt động Đảng - Đoàn thể</a>
                <hr>
            </li>
            <li  style="padding-left: 20px;">
                <i class="fa fa-angle-right"></i>
                <a href="/danh-sach-tin-tuc/12?page=1&size=20">Tài liệu sinh hoạt chi bộ</a>
                <hr>
            </li>
            <li  style="padding-left: 20px;">
                <i class="fa fa-angle-right"></i>
                <a href="/danh-sach-tin-tuc/13?page=1&size=20">Công tác Đảng</a>
                <hr>
            </li>
            <li  style="padding-left: 20px;">
                <i class="fa fa-angle-right"></i>
                <a href="/danh-sach-tin-tuc/14?page=1&size=20">Công đoàn</a>
                <hr>
            </li>
            <li  style="padding-left: 20px;">
                <i class="fa fa-angle-right"></i>
                <a href="/danh-sach-tin-tuc/15?page=1&size=20">Đoàn thanh niên</a>
                <hr>
            </li>
            <li  style="padding-left: 20px;">
                <i class="fa fa-angle-right"></i>
                <a href="/danh-sach-tin-tuc/16?page=1&size=20">Góp ý xây dựng cơ chế - chính sách</a>
                <hr>
            </li>

            <li class="text-center" style="background-color: #F90;">
                <p style="font-size: 10px; font-weight: 700;">Đường dây nóng hỗ trợ</p>
                <p style="font-size: 18px; font-weight: bold;">1900 545481</p>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>