<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VNPost | Tin tức</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" th:href="@{/templates/web/css/styleTinTuc.css}">
</head>

<body>

<!--phần Header-->
<div th:insert="~{/common/web/header.html::header}"></div>

<!-- phần nội dung -->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">

                <!-- menu dọc -->
                <div th:replace="~{/common/web/menu.html::menu}"></div>
            </div>

            <!--đoạn 1-->
            <div class="col-lg-9 col-md-9 col-sm-9" style="padding-top: 20px;">
                <div class="col-md-12 col-sm-12 content-wrap" style="margin-top: 15px; margin-bottom: 5px;">
                    <div class="row text-center">
                        <div class="col-md-2 col-sm-4 col-6 column-title">
                            <a href="/danh-sach-tin-tuc/the-loai/1?page=1&size=20" class="title-main" style="color: #485986;">Tin Vietnam Post</a>
                        </div>

                        <div class="col-md-2 col-sm-3 col-6 column-title" th:each="item : ${tinVietNamPost}">
                            <a th:href="@{/danh-sach-tin-tuc/{id} (id=${item.id},page=1,size=20)}" th:text="${item.name}"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 content-main">
                    <div class="row">
                        <div class="col-sm-5" style="border-right: 0.1px rgba(128, 128, 128, 0.363) solid;">
                            <a th:href="@{/chi-tiet-tin-tuc/{id} (id=${tinVietNamPostContentLeft.id}) }" style="font-weight: 700;" th:text="${tinVietNamPostContentLeft.title}"></a>
                            <img class="img-fluid w100" th:src="${tinVietNamPostContentLeft.thumbnail}" style="width: 355px;">
                            <p th:text="${tinVietNamPostContentLeft.description}"></p>
                        </div>
                        <div class="col-sm-4" style="border-right: 0.1px rgba(128, 128, 128, 0.363) solid;">
                            <a th:href="@{/chi-tiet-tin-tuc/{id} (id=${item.id}) }" th:each="item : ${tinVietNamPostContent}">
                                <p th:text="${item.title}"></p>
                            </a>
                        </div>

                        <div class="col-sm-3">
                            <img class="img-fluid" th:src="${tinVietNamPostContentLeft.thumbnail}" style="width: 200px !important;">
                            <a th:href="@{/chi-tiet-tin-tuc/{id} (id=${tinVietNamPostContentLeft.id}) }" style="font-weight: 600;" th:text="${tinVietNamPostContentLeft.title}"></a>
                        </div>
                    </div>
                </div>


                <!--đoạn 2-->
                <div class="col-md-12 col-sm-12 content-wrap" style="margin-top: 15px; margin-bottom: 5px;">
                    <div class="row text-center">
                        <div class="col-md-2 col-sm-4 col-6 column-title">
                            <a href="/danh-sach-tin-tuc/the-loai/2?page=1&size=20" class="title-main" style="color: #485986;">Bưu điện - Văn hóa xã</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 content-main">
                    <div class="row">
                        <div class="col-sm-5" style="border-right: 0.1px rgba(128, 128, 128, 0.363) solid;">
                            <a th:href="@{/chi-tiet-tin-tuc/{id} (id=${buuDienVanHoaXaContentLeft.id}) }" style="font-weight: 700;" th:text="${buuDienVanHoaXaContentLeft.title}"></a>
                            <img class="img-fluid" th:src="${buuDienVanHoaXaContentLeft.thumbnail}" style="width: 355px;">
                            <p th:text="${buuDienVanHoaXaContentLeft.description}"></p>
                        </div>
                        <div class="col-sm-4" style="border-right: 0.1px rgba(128, 128, 128, 0.363) solid;">
                            <a th:href="@{/chi-tiet-tin-tuc/{id} (id=${item.id}) }" th:each="item : ${buuDienVanHoaXaContent}">
                                <p th:text="${item.title}"></p>
                            </a>
                        </div>
                        <div class="col-sm-3">
                            <img class="img-fluid" th:src="${buuDienVanHoaXaContentLeft.thumbnail}" style="width: 200px;">
                            <a th:href="@{/chi-tiet-tin-tuc/{id} (id=${buuDienVanHoaXaContentLeft.id}) }" style="font-weight: 600;" th:text="${buuDienVanHoaXaContentLeft.title}"></a>
                        </div>
                    </div>
                </div>


                <!--đoạn 3-->
                <div class="col-md-12 col-sm-12 content-wrap" style="margin-top: 15px;">
                    <div class="row text-center">
                        <div class="col-md-3 col-sm-3 col-6 column-title">
                            <a href="/danh-sach-tin-tuc/the-loai/3?page=1&size=20" class="title-main" style="color: #485986;">Người bưu điện</a>
                        </div>
                        <div class="col-md-3 col-sm-3 col-6 column-title" th:each="item : ${nguoiBuuDien}">
                            <a th:href="@{/danh-sach-tin-tuc/{id} (id=${item.id},page=1,size=20)}" th:text="${item.name}"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 content-main">
                    <div class="row">
                        <div class="col-sm-5" style="border-right: 0.1px rgba(128, 128, 128, 0.363) solid;">
                            <a th:href="@{/chi-tiet-tin-tuc/{id} (id=${nguoiBuuDienContentLeft.id}) }" style="font-weight: 700;" th:text="${nguoiBuuDienContentLeft.title}"></a>
                            <img class="img-fluid w100" th:src="${nguoiBuuDienContentLeft.thumbnail}" style="width: 355px;">
                            <p th:text="${nguoiBuuDienContentLeft.description}"></p>
                        </div>
                        <div class="col-sm-4" style="border-right: 0.1px rgba(128, 128, 128, 0.363) solid;">
                            <a th:href="@{/chi-tiet-tin-tuc/{id} (id=${item.id}) }" th:each="item : ${nguoiBuuDienContent}">
                                <p th:text="${item.title}"></p>
                            </a>
                        </div>

                        <div class="col-sm-3">
                            <img class="img-fluid" th:src="${nguoiBuuDienContentLeft.thumbnail}" style="width: 200px !important;">
                            <a th:href="@{/chi-tiet-tin-tuc/{id} (id=${nguoiBuuDienContentLeft.id}) }" style="font-weight: 600;" th:text="${nguoiBuuDienContentLeft.title}"></a>
                        </div>
                    </div>
                </div>

                <!--đoạn 4-->
                <div class="col-md-12 col-sm-12 content-wrap" style="margin-top: 15px;">
                    <div class="row text-center">
                        <div class="col-md-2 col-sm-5 col-6 column-title">
                            <a href="/danh-sach-tin-tuc/the-loai/4?page=1&size=20" class="title-main" style="color: #485986;">Hoạt động Đảng - Đoàn thể</a>
                        </div>
                        <div class="col-md-2 col-sm-4 col-6 column-title" th:each="item : ${hoatDongDangDoanThe}">
                            <a th:href="@{/danh-sach-tin-tuc/{id} (id=${item.id},page=1,size=20)}" th:text="${item.name}"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 content-main">
                    <div class="row">
                        <div class="col-sm-5" style="border-right: 0.1px rgba(128, 128, 128, 0.363) solid;">
                            <a th:href="@{/chi-tiet-tin-tuc/{id} (id=${hoatDongDangContentLeft.id}) }" style="font-weight: 700;" th:text="${hoatDongDangContentLeft.title}"></a>
                            <img class="img-fluid w100" th:src="${hoatDongDangContentLeft.thumbnail}" style="width: 355px;">
                            <p th:text="${hoatDongDangContentLeft.description}"></p>
                        </div>
                        <div class="col-sm-4" style="border-right: 0.1px rgba(128, 128, 128, 0.363) solid;">
                            <a th:href="@{/chi-tiet-tin-tuc/{id} (id=${item.id}) }" th:each="item : ${hoatDongDangContent}">
                                <p th:text="${item.title}"></p>
                            </a>
                        </div>
                        <div class="col-sm-3">
                            <img class="img-fluid" th:src="${hoatDongDangContentLeft.thumbnail}" style="width: 200px !important;">
                            <a th:href="@{/chi-tiet-tin-tuc/{id} (id=${hoatDongDangContentLeft.id}) }" style="font-weight: 600;" th:text="${hoatDongDangContentLeft.title}"></a>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>

<!--phần Footer-->
<div th:insert="~{/common/web/footer.html::footer}"></div>

</body>
</html>